@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "DM Mono", monospace;

  --medium-priority-bg: #faeeda;
  --medium-priority-clr: #633806;

  --low-priority-card-bg: rgba(225, 225, 225, 0.3);
  --medium-priority-card-bg: rgba(250, 238, 218, 0.3);
  --high-priority-card-bg: rgba(250, 218, 218, 0.3);

  --low-priority-card-pill-bg: rgba(26, 26, 26, 0.407);

  --high-priority-bg: #fadada;
  --low-priority-card: rgba(178, 178, 178, 0.3);
  --medium-priority-bg: #faeeda;

  --in-progress-bg: #daf1fa;
  --in-progress-clr: #064763;

  --completed-bg: #dafae1;
  --completed-clr: #066325;
  --completed-light-clr: #0d9c3d;

  --todo-desc-clr: rgb(54, 54, 54);
  --border-clr: rgb(190, 190, 190);

  --delete-btn-border-clr: rgb(183, 0, 0);
  --delete-btn-clr: #730000;
  --delete-btn-bg-hover: #ae0000;
  --delete-btn-clr-hover: rgb(255, 255, 255);
  --delete-btn-bg-active: #700000;

  --edit-btn-bg-hover: #232323;
  --edit-btn-clr-hover: white;

  --edit-btn-bg-active: black;
  --edit-btn-clr-active: white;
}

/* GENERAL STYLES */
p,
span,
button,
li,
h2,
label,
input,
textarea,
select {
  font-family: var(--primary-font);
}
label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-inline-end: 0.5rem;
  align-self: flex-start;
  cursor: pointer;
}

time,
input[id="edit-due-date"] {
  font-family: var(--secondary-font);
}

.main-wrapper {
  height: 100vh;
  display: grid;
}

/* CARD STYLE */
.todo-card,
.todo-card-wrapper,
.edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 500px;
  margin: auto;
  padding: 2rem 1rem;
}

.todo-card-wrapper {
  padding: 0;
}

.todo-card > *,
.edit-container > * {
  border-block-end: 1px solid var(--border-clr);
  padding-block: 1.5rem;
}

.todo-card > *:last-child,
.edit-container > *:last-child {
  border-block-end: none;
}

.todo-card > *:first-child {
  padding-block-start: 0;
}

/* CARD HEADER */
.todo-title {
  font-size: 1.3rem;
}
.todo-desc {
  color: var(--todo-desc-clr);
}

/* TODO META */
.priority,
.todo-meta {
  font-size: 0.85rem;
}

.priority {
  display: inline-block;
  margin-block-end: 1rem;
}

.priority,
.remaining-time,
.todo-status {
  font-family: var(--primary-font);
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
}

.remaining-time {
  background-color: var(--medium-priority-bg);
  color: var(--medium-priority-clr);
}

.date-time-status {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 1rem;
}

.todo-status {
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.todo-status:hover {
  opacity: 0.8;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.todo-tags {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.todo-tags > * {
  border-radius: 1rem;
  border: 1px solid var(--border-clr);
  padding: 0.3rem 0.8rem;
}

/* TODO FOOTER */
.todo-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.todo-footer > *:first-child {
  margin-block-end: 0.5rem;
}

.todo-footer input {
  width: 1.1rem;
  aspect-ratio: 1;
  accent-color: green;
  cursor: pointer;
}

.todo-footer input:focus {
  outline: 2px solid green;
  outline-offset: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.status-selector {
  padding-block-start: 1.5rem;
  display: flex;
  gap: 1rem;
}

.status-selector > * {
  border: 1px solid var(--border-clr);
  padding: 0.5rem 1rem;
  background-color: transparent;
}

/* EDIT & CARD STATE BUTTONS */
.buttons > *,
.edit-buttons-container > * {
  flex: 1;

  padding: 0.3rem 1.2rem;
  background-color: transparent;
  border: 1px solid var(--border-clr);
  cursor: pointer;
  border-radius: 0.5rem;
  transition:
    color 250ms ease-in-out,
    background-color 300ms ease-in-out;
}

.edit-todo {
  padding-inline: 1.8rem;
  color: black;
}

.delete-todo {
  border-color: var(--delete-btn-border-clr);
  color: var(--delete-btn-clr);
}

.delete-todo:hover,
.delete-todo:focus {
  background-color: var(--delete-btn-border-clr);
  color: var(--delete-btn-clr-hover);
}

.edit-todo:hover,
.edit-todo:focus,
.edit-btn--cancel:hover,
.edit-btn--cancel:focus {
  background-color: var(--edit-btn-bg-hover);
  color: var(--edit-btn-clr-hover);
}

.edit-todo:active,
.edit-btn--cancel:active {
  background-color: var(--edit-btn-bg-active);
  color: var(--edit-btn-clr-active);
}

.delete-todo:active {
  background-color: var(--delete-btn-bg-active);
}

/* DYNAMIC STYLES */
.completed-title-style {
  text-decoration: line-through;
  color: var(--border-clr);
}

.completed-status {
  background-color: var(--completed-bg);
  color: var(--completed-clr);
}

.pending-select {
  background-color: var(--low-priority-card-pill-bg);
  color: white;
}

.in-progress-select {
  color: var(--in-progress-clr);
  background-color: var(--in-progress-bg);
}

.in-progress-select::before {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--in-progress-clr);
  animation: pulsate 1s infinite ease-in-out;
}

.end-timer {
  opacity: 0;
}

.todo-status.completed-status::before {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--completed-clr);
  animation: none;
}

/* ALWAYS KEEP AFTER STOP ANIMATION */
.todo-status.pending-select::before {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--low-priority-card-pill-bg);
  animation: none;
}

.todo-card.isHidden {
  display: none;
}

.low-priority {
  background-color: var(--low-priority-card-bg);
}

.medium-priority {
  background-color: var(--medium-priority-card-bg);
}

.medium-priority-pill {
  background-color: var(--medium-priority-bg);
  color: var(--medium-priority-clr);
}

.high-priority {
  background-color: var(--high-priority-card-bg);
}

.low-priority-pill {
  color: black;
  background-color: var(--low-priority-card);
}

.high-priority-pill {
  color: var(--delete-btn-bg-hover);
  background-color: var(--high-priority-bg);
}

/* EDIT FORM STYLES */
select,
input[id="edit-due-date"] {
  cursor: pointer;
}

.edit-container {
  display: none;
}

.edit-container.isEditing {
  display: flex;
}

.edit-container label,
legend {
  font-size: 0.8rem;
  cursor: default;
  font-weight: 500;
}

.edit-container > *,
.fieldset-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.edit-text-container {
  display: initial;
}

.edit-text-container > *:first-child {
  margin-block-end: 1.5rem;
}

.edit-text-container > * input,
.edit-text-container > * textarea {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--border-clr);
}

.edit-text-container > * textarea {
  resize: vertical;
  min-height: 5rem;
  max-height: 13rem;
}

.fieldset-wrapper select,
.fieldset-wrapper input {
  width: 100%;
  min-height: 2.5rem;
  border: 1px solid var(--border-clr);
  padding: 0.5rem;
}

.fieldset-wrapper > *,
.edit-buttons-container > * {
  flex: 1;
}

fieldset {
  position: relative;
  border: none;
  padding-inline: 0;
}

legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.edit-btn--save {
  border-color: var(--completed-clr);
  color: var(--completed-clr);
  background-color: var(--completed-bg);
}

.edit-btn--save:hover {
  background-color: var(--completed-light-clr);
  border-color: var(--completed-light-clr);
  color: white;
}

.edit-btn--save:active {
  background-color: var(--completed-clr);
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  .todo-title {
    font-size: 1.5rem;
  }

  .todo-desc,
  .toggle-text {
    font-size: 1.1rem;
  }

  .priority,
  .todo-meta {
    font-size: 0.95rem;
  }

  .buttons > *,
  .edit-buttons-container > * {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 520px) {
  .todo-card,
  .edit-container {
    border: 3px solid var(--border-clr);
    border-radius: 1rem;
    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }

  .todo-card:hover,
  .edit-container:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  }
}
